:root {
    --brand-color: #fa96aa;
    --brand-color-dark: #f73453;
    --grey: #f7f0f2;
    --dark-grey: #c4c4c4;
    font-family: "Quicksand", sans-serif;
}

html {
    word-break: break-word;
}

html::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header div > i:hover {
    position: relative;
    top: -7px;
    transition: top 300ms;
}

i {
    cursor: pointer;
}

a {
    color: inherit;
}

main {
    margin-top: 200px !important;
}

@media screen and (max-width: 500px) {
    main {
        margin-top: 350px !important;
    }
}
@media screen and (max-width: 400px) {
    main {
        margin-top: 450px !important;
    }
}

.dissapear-up {
    margin-top: -80px;
}

@media screen and (max-width: 434px) {
    .dissapear-up {
        margin-top: -140px;
    }
}

.menu-list li:hover {
    transition: background-color 300ms, color 300ms;
    background-color: var(--brand-color);
    color: white;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media only screen and (max-width: 1140px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

@media only screen and (max-width: 560px) {
    .container {
        width: 100%;
        padding: 0 8px;
    }
}

#product-details-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
}

#product-details {
    background: white;
    padding: 24px;
    display: flex;
    width: 90%;
    border-radius: 8px;
    flex-wrap: wrap;
}

@media only screen and (orientation: portrait) {
}

#product-details > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

#product-details > div h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

#product-details > div h2 {
    padding: 8px 0;
}

#product-details > div button {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    width: fit-content;
    background-color: var(--brand-color);
    padding: 8px 16px;
    border-radius: 16px;
    margin-top: 32px;
}

#product-details figure {
    width: 300px;
}

#product-details img {
    border: 2px solid black;
    object-fit: cover;
}

.special-offer {
    text-align: left;
    position: absolute;
    border-radius: 16px;
    background-color: var(--brand-color-dark);
    color: white;
    font-weight: bold;
    left: 5%;
    top: 5%;
    padding: 4px;
    font-size: 0.67rem;
}

.old-price {
    color: var(--dark-grey);
}
.new-price {
    color: var(--brand-color-dark);
}

.customer-review {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc((1140px - 50px) / 2));
    gap: 50px;
    justify-content: center;
}
.customer-review article {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 32px;
    text-align: left;
}

.customer-review figure {
    height: fit-content;
    border-radius: 100%;
    margin: 8px;
}
.customer-review img {
    object-fit: contain;
    border-radius: 100%;
}

.customer-review p {
    margin-bottom: 32px;
    font-weight: 500;
}
.customer-review h2 {
    font-weight: 300;
    color: var(--dark-grey);
}

@media screen and (max-width: 600px) {
    .customer-review {
        grid-template-columns: 1fr;
    }
}

.product-card {
    width: 250px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 250px 100px 1fr;
}

.product-card h1 {
    margin: 16px 0;
    font-size: 1rem;
}

.product-card > div:nth-of-type(1) {
    padding: 0 16px;
    padding-bottom: 16px;
}
.product-card > div:nth-of-type(1) > div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-card > div:nth-of-type(2) {
    height: 40px;
    display: flex;
    align-items: flex-end;
}

@keyframes example {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: var(--brand-color);
    }
}

.product-card button {
    cursor: pointer;
    animation: example 300ms;
    width: 100%;
    background: var(--brand-color);
    color: white;
    border-radius: 4px;
    padding: 8px 0;
    font-size: 1rem;
    transition: background-color 300ms;
}

.product-card button:hover {
    background-color: black;
}

i {
    display: flex;
    align-items: end;
}

a {
    text-decoration: none;
}

ul,
summary {
    list-style: none;
}

summary {
    position: relative;
    display: flex;
}

summary::after {
    position: absolute;
    content: " ";
    background: url("/assets/icons/arrow-left.svg") center;
    display: block;
    background-repeat: no-repeat;
    right: 0;
    height: 30px;
    width: 30px;
    transform: rotate(-90deg);
}

details[open] summary::after {
    transform: rotate(90deg);
}

figure {
    display: flex;
}
img {
    width: 100%;
    object-fit: cover;
}

svg {
    width: 100%;
    height: 100%;
}

address * {
    font-style: normal;
    text-align: right;
}

.svg-stroke {
    stroke: var(--brand-color);
}

.svg-fill {
    fill: var(--brand-color);
}

.svg-fill defs path {
    fill: var(--brand-color);
}

button {
    font-family: inherit;
    border: none;

    border-radius: 16px;
    font-weight: bold;
    padding: 4px 8px;
}

aside {
    background-color: var(--brand-color);
    text-align: center;
    padding: 4px 0;
    color: white;
    z-index: 1;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    height: min-content;
    width: 100vw;
    background: white;
    z-index: 2;
}

@media screen and (max-width: 768px) {
}

header button#mobile-menu-icon {
    display: none;
}

header nav > div {
    margin: 16px 0;
    flex-wrap: wrap;
    gap: 20px;
}

header div {
    display: flex;
    justify-content: space-between;
}

header figure {
    width: 250px;
}

header ul {
    display: flex;
}

header li {
    font-weight: bold;
    margin-right: 32px;
    font-size: 1.2rem;
}

header address {
    margin-left: auto;
}

header address h1 {
    font-size: 1rem;
    font-weight: 100;
}
header address a {
    font-weight: bold;
}

header #user-interface {
    margin-left: auto;
}

header #user-interface i {
    margin-left: 16px;
}

header #user-interface i img {
    width: 24px;
}

@media only screen and (max-width: 768px) {
    header nav #user-interface {
        flex-grow: 1;
        align-items: center;
        flex-wrap: wrap;
    }
    header nav div {
        gap: 30px;
    }
    header button#mobile-menu-icon {
        display: block;
        width: 50px;
        margin-left: auto;
    }

    header button#mobile-menu-icon i {
        margin: 0;
    }
    header button#mobile-menu-icon img {
        width: 100%;
    }

    header ul {
        display: none;
    }
}

#home > article:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    background-color: var(--grey);
}

@media screen and (max-width: 600px) {
    #home > article:nth-of-type(1) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 200px;
    }
}

#home > article:nth-of-type(1) h1 {
    font-size: 4.2rem;
}

@media screen and (max-width: 600px) {
    #home > article:nth-of-type(1) h1 {
        font-size: 2.5rem;
    }
}

#home > article:nth-of-type(1) h2 {
    font-style: italic;
    font-weight: 600;
}
#home > article:nth-of-type(1) div:first-of-type {
    margin: 42px;
}

#home > article:nth-of-type(1) button {
    padding: 12px 32px;
    background-color: var(--brand-color);
    color: white;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 32px;
}

#home section > h1 {
    margin: 72px 0 56px 0;
}

#home > section > h1 {
    text-align: center;
    font-size: 2.5rem;
}
#home > section:nth-of-type(1) > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc((1140px - 50px * 3) / 3));
    gap: 50px;
    justify-content: center;
}

#home > section:nth-of-type(1) > div article {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    background-color: var(--grey);
}

#home > section:nth-of-type(1) > div article h1 {
    font-size: 1.5rem;
    margin: 16px;
}
#home > section:nth-of-type(2) {
    text-align: center;
}
#home > section:nth-of-type(2) > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
#home > section:nth-of-type(2) > div .product-card {
    margin: 0 auto;
}

#home > section:nth-of-type(3) {
    text-align: center;
}

#home > section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc((1140px - 15px * 5) / 5));
    gap: 15px;
    justify-content: center;
}
#home > section:nth-of-type(4) article {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}

#home > section:nth-of-type(4) i {
    width: 33%;
}

#home > section:last-of-type {
    margin: 46px 0;
}

@media screen and (max-width: 1140px) {
}

footer {
    background-color: var(--grey);
}

footer nav ul li {
    padding: 4px 0;
    color: var(--brand-color);
}
footer nav > div > article:nth-of-type(1) div i:hover {
    background: var(--brand-color);
}
footer div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

footer nav > article {
    display: flex;
    min-height: 100px;
    background: var(--brand-color);
    color: white;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1.2rem;
}

@media screen and (max-width: 690px) {
    footer nav > article {
        min-height: 250px;
    }
}

footer nav > div:first-of-type {
    min-height: 200px;
    padding: auto 0;
    padding-top: 32px;
}

footer nav > div h1 {
    margin: 16px 0;
    font-size: 1.2rem;
}

footer nav > div > article:nth-of-type(1) div i {
    background: white;
    border-radius: 100%;
    padding: 12px;
    margin-right: 8px;
}
footer nav > div > article:nth-of-type(1) div i img {
    width: 36px;
}

footer address {
    text-align: right;
    margin-left: auto;
}

footer address i {
    padding: 4px 0;
}

footer nav > div > address svg {
    width: 20px;
    margin-right: 8px;
}

footer nav > div button {
    background: var(--brand-color);
    height: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 32px;
    margin-right: 16px;
}
footer nav > div button i {
    transform: rotate(90deg);
    filter: invert(1) brightness(10);
}
footer nav > div button i img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    footer {
        padding-bottom: 100px;
    }

    footer nav > div button {
        display: none;
    }
}

#shop > article > h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 16px;
}

#shop > article > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#shop > article > div article {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    #shop article {
        flex-direction: column;
    }
}

#why-buy-from-us > article > div {
    background-color: var(--grey);
}

#why-buy-from-us > article > h1 {
    font-size: 3rem;
    text-align: center;
    margin: 32px 0;
}

#why-buy-from-us section > h1 {
    margin: 32px 0;
    font-size: 2rem;
    text-align: center;
    margin: 32px 0;
}

#why-buy-from-us > article > div {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
}

#why-buy-from-us > article > div section {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
}

@media screen and (max-width: 768px) {
    #why-buy-from-us > article > div section {
        grid-auto-flow: row;
        grid-auto-rows: min-content;
    }
}

#why-buy-from-us > article > div section div {
    padding: 32px;
}

#why-buy-from-us > article > div h1 {
    font-size: 2rem;
}

#faq h1 {
    margin: 16px 0;
}

#faq > article {
    margin-bottom: 300px;
}

#faq details {
    border-bottom: 1px solid black;
    padding: 16px 0;
}
#faq details summary {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 32px;
}
#faq details:first-of-type {
    border-top: 1px solid black;
}

#about > article > h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 32px;
}

#about article > div > section h1 {
    font-size: 2.5rem;
    margin-top: 32px;
    margin-bottom: 8px;
}
#about article > div > section:first-of-type {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 30px;
}
#about article > div > section:nth-of-type(2) > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 30px;
}
#about article > div > section:nth-of-type(2) span {
    font-weight: bold;
    font-size: 1.2rem;
}

#about form {
    display: flex;
    flex-direction: column;
}
#about form input,
#about form button {
    border-color: var(--brand-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 8px;
}

#about form input::placeholder,
#about form button {
    color: var(--brand-color);
}

#about form button {
    background: none;
    width: 120px;
}

#about form input#message {
    padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
    #about article > div > section:first-of-type {
        grid-auto-flow: row;
        gap: 30px;
    }
    #about article > div > section:nth-of-type(2) > div {
        grid-auto-flow: row;
    }
}
